<div id="post" class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/{{data.post.category.name}}">{{data.post.category.name}}</a></li>
    </ol>
    <article>
        <header>
            <h1>{{data.post.title}}</h1>
            <h5>
                {{#if author.name.first}}by {{author.name.first}}{{/if}}
            </h5>
        </header>
        <div class="post">
                {{{data.post.content.extended}}}
        </div>
    </article>
</div>
